*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(72, 218, 121);
}

header{
    justify-content: center;
    align-items: baseline;
    background-color: rgb(255, 255, 255);
    height: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.puntaje{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    background-color: rgb(198, 198, 198);
    width: 50px;
    height: 45px;
    cursor: pointer;
    -webkit-mask-image: url("../img/estrella.svg");
    mask-image: url("../img/estrella.svg");
}

.item.selec{
    background-color: rgb(30, 69, 70);
}